@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (max-width: 639px) {
  main > section {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: center;
  }

  main > section.section-auto-height {
    min-height: 0;
  }
}
